<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebiz.comm.dao.RoleInfoDao">
	<cache />

	<resultMap id="roleInfoMap" type="RoleInfo">
		<id column="ROLE_ID" property="role_id" />
		<result column="ROLE_NAME" property="role_name" />
		<result column="ORDER_VALUE" property="order_value" />
		<result column="ADD_DATE" property="add_date" />
		<result column="IS_DEL" property="is_del" />
	</resultMap>

	<sql id="r_clause_gather_default">
		<!-- Equal query -->
		<if test="role_id != null and role_id != ''"> and ROLE_ID = #{role_id}</if>
		<if test="role_name != null and role_name != ''"> and ROLE_NAME = #{role_name}</if>
		<if test="order_value != null and order_value != ''"> and ORDER_VALUE = #{order_value}</if>
		<if test="add_date != null and add_date != ''"> and ADD_DATE = #{add_date}</if>
		<if test="is_del != null and is_del != ''"> and IS_DEL = #{is_del}</if>

		<!-- Like query -->
		<if test="param.role_name_like != null and param.role_name_like != ''"> and UPPER(ROLE_NAME) like CONCAT('%',UPPER(#{param.role_name_like}),'%')</if>
		
		<!-- Number compare query -->
		<if test="param.role_id_gt != null and param.role_id_gt != ''"><![CDATA[ and ROLE_ID > #{param.role_id_gt}]]></if>
		<if test="param.role_id_lt != null and param.role_id_lt != ''"><![CDATA[ and ROLE_ID < #{param.role_id_lt}]]></if>
		<if test="param.role_id_ge != null and param.role_id_ge != ''"><![CDATA[ and ROLE_ID >= #{param.role_id_ge}]]></if>
		<if test="param.role_id_le != null and param.role_id_le != ''"><![CDATA[ and ROLE_ID <= #{param.role_id_le}]]></if>
		<if test="param.order_value_gt != null and param.order_value_gt != ''"><![CDATA[ and ORDER_VALUE > #{param.order_value_gt}]]></if>
		<if test="param.order_value_lt != null and param.order_value_lt != ''"><![CDATA[ and ORDER_VALUE < #{param.order_value_lt}]]></if>
		<if test="param.order_value_ge != null and param.order_value_ge != ''"><![CDATA[ and ORDER_VALUE >= #{param.order_value_ge}]]></if>
		<if test="param.order_value_le != null and param.order_value_le != ''"><![CDATA[ and ORDER_VALUE <= #{param.order_value_le}]]></if>
		<if test="param.is_del_gt != null and param.is_del_gt != ''"><![CDATA[ and IS_DEL > #{param.is_del_gt}]]></if>
		<if test="param.is_del_lt != null and param.is_del_lt != ''"><![CDATA[ and IS_DEL < #{param.is_del_lt}]]></if>
		<if test="param.is_del_ge != null and param.is_del_ge != ''"><![CDATA[ and IS_DEL >= #{param.is_del_ge}]]></if>
		<if test="param.is_del_le != null and param.is_del_le != ''"><![CDATA[ and IS_DEL <= #{param.is_del_le}]]></if>
		
		<!-- Date compare query -->
		<if test="param.add_date_ge != null and param.add_date_ge != ''"><![CDATA[ and ADD_DATE >= date_format (#{param.add_date_ge}, '%Y-%m-%d %H:%i:%S')]]></if>
		<if test="param.add_date_lt != null and param.add_date_lt != ''"><![CDATA[ and ADD_DATE < date_format (#{param.add_date_lt}, '%Y-%m-%d %H:%i:%S')]]></if>
		<if test="param.add_date_ge_now == 'true'"><![CDATA[ and ADD_DATE >= date_format (now(), '%Y-%m-%d %H:%i:%S')]]></if>
		<if test="param.add_date_lt_now == 'true'"><![CDATA[ and ADD_DATE < date_format (now(), '%Y-%m-%d %H:%i:%S')]]></if>
	</sql>

	<sql id="ud_clause_gather_default">
		<choose>
			<when test="role_id != null">role_id=#{role_id}</when>
			<when test="role_id == null">
				<if test="pks != null">
					ROLE_ID in <foreach item="item" index="index" collection="pks" open="(" separator="," close=")">#{item}</foreach>
				</if> 
			</when>
			<otherwise>1=0</otherwise>
		</choose>
	</sql>

	<sql id="orderby_clause_gather_default">
		<if test="row.sort == null or row.sort == ''"> ROLE_ID </if>
		<if test="row.sort != null and row.sort != ''">
			<choose>
				<when test="row.sort == 'role_id'"> ROLE_ID </when>
				<when test="row.sort == 'role_name'"> ROLE_NAME </when>
				<when test="row.sort == 'order_value'"> ORDER_VALUE </when>
				<when test="row.sort == 'add_date'"> ADD_DATE </when>
				<when test="row.sort == 'is_del'"> IS_DEL </when>
				<otherwise> ROLE_ID </otherwise>
			</choose>
		</if>
		<if test="row.order == null or row.order == ''"> ASC </if>
		<if test="row.order != null and row.order != ''">
			<choose>
				<when test="row.order == 'asc' or row.order == 'ASC'">ASC</when>
				<when test="row.order == 'desc' or row.order == 'DESC'">DESC</when>
				<otherwise> ASC </otherwise>
			</choose>
		</if>
	</sql>

	<select id="count" parameterType="RoleInfo" resultType="long">
		select count(1) from ROLE_INFO
		<where>
			<include refid="r_clause_gather_default"/>
		</where>
	</select>

	<select id="select" parameterType="RoleInfo" resultMap="roleInfoMap">
		select * from ROLE_INFO
		<where>
			<include refid="r_clause_gather_default"/>
		</where>
	</select>

	<select id="selectList" parameterType="RoleInfo" resultMap="roleInfoMap">
		select * from ROLE_INFO
		<where>
			<include refid="r_clause_gather_default"/>
		</where>
		order by
		<include refid="orderby_clause_gather_default"/>
	</select>

	<select id="selectPaginatedList" parameterType="RoleInfo" resultMap="roleInfoMap">
		select * from ROLE_INFO
		<where>
			<include refid="r_clause_gather_default"/>
		</where>
		order by
		<include refid="orderby_clause_gather_default"/>
		limit #{row.first}, #{row.count}
	</select>

	<insert id="insert" parameterType="RoleInfo">
		<![CDATA[insert into ROLE_INFO ( ]]>
		<trim suffixOverrides=","> 
			<if test="role_id != null and role_id != ''">ROLE_ID,</if>
			<if test="role_name != null and role_name != ''">ROLE_NAME,</if>
			<if test="order_value != null and order_value != ''">ORDER_VALUE,</if>
			<if test="add_date != null and add_date != ''">ADD_DATE,</if>
			<if test="is_del != null and is_del != ''">IS_DEL,</if>
		</trim>
		<![CDATA[ ) values ( ]]>
		<trim suffixOverrides=",">
			<if test="role_id != null and role_id != ''">#{role_id},</if>
			<if test="role_name != null and role_name != ''">#{role_name},</if>
			<if test="order_value != null and order_value != ''">#{order_value},</if>
			<if test="add_date != null and add_date != ''">#{add_date},</if>
			<if test="is_del != null and is_del != ''">#{is_del},</if>
		</trim>
		<![CDATA[ ) ]]>
	</insert>

	<update id="update" parameterType="RoleInfo">
		update ROLE_INFO
		<set>
			<if test="role_id != null and role_id != ''">ROLE_ID = #{role_id},</if>
			<if test="role_name != null and role_name != ''">ROLE_NAME = #{role_name},</if>
			<if test="order_value != null and order_value != ''">ORDER_VALUE = #{order_value},</if>
			<if test="add_date != null and add_date != ''">ADD_DATE = #{add_date},</if>
			<if test="is_del != null and is_del != ''">IS_DEL = #{is_del},</if>
		</set>
		<where>
			<include refid="ud_clause_gather_default"/>
		</where>
	</update>
	
	<delete id="delete" parameterType="RoleInfo">
		delete from ROLE_INFO
		<where>
			<include refid="ud_clause_gather_default"/>
		</where>
	</delete>

</mapper>