<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "  http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration>

	<property name="log.base" value="/usr/local/resin/logs/jzyx" />

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="db" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="org.apache.commons.dbcp.BasicDataSource">
				<driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
				<url>jdbc:oracle:thin:@192.168.0.10:1521:xxxdb</url>
				<username>logback</username>
				<password>logback</password>
			</dataSource>
		</connectionSource>
	</appender>

	<root level="WARN">
		<appender-ref ref="file" />
		<appender-ref ref="db" />
	</root>
</configuration>
